<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ensemble Voting Rating Predictions</title>
</head>

<h1>
	Board Game Rating Prediction with my Ensemble Voting Classifier
</h1>

<h2>
	Kaite Li (Kurt), 100 164 5704
</h2>

<body>

<form action="/predict" method="POST">
    <input name="input_text">
    <input type="submit" value="Make Prediction">
</form>

<br><br>


<form action="/clear" method="POST">
    <input type="submit" name="submit" value="Clear Input">
</form>

</body>
</html>